html, body, .App, #root {
  height: 100%;
  background-color: #E6EAF1;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: slategray;
  margin: 0;
}

.nav--main {
  text-align: left;
  padding: 5px 5px;
}

.nav--title {
  font-size: x-large;
  font-weight: 600;
  margin: 0;
}

.nav--description {
  font-size: medium;
  font-weight: 500;
  margin: 0;
}

.nav--icon {
  height: 40px;
  margin: 10px 10px;
}

.nav--dropdown {
  margin-left: auto;
  padding-right: 20px;
}

#viewRepoInput {
  margin-right: 5px;
}

button {
  border-radius: 5px;
  background-color: rgb(93, 106, 119); 
  color: #fff;
  padding: 6px 10px; 
  border: none; 
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color */
  margin: 5px;
}

/* Hover state */
button:hover {
  background-color: #343434; /* Darker shade of blueish-gray on hover */
}


.nav--dropdownItem {
  font-size: medium;
  font-weight: 500;
}

.graphDisplay {
  margin-left: auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.graphDisplay--image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
}

canvas {
  display: flex;
  align-items: center;
}

#controls {
  position: absolute;
  right: 1em;
  top: 1em;
  text-align: left;
  padding: 10px 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

#menu-controls {
  background-color: lightgrey;
  border-width: 5px;
  border-color: #F4F7FC;
  border-style: solid;
  border-radius: 10px;
  padding-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

#nodeDetailsDisplay {
  resize: both;
  position: absolute;
  top: 55%;
  text-align: left;
  padding: 20px; 
  background-color: rgba(255,255,255,0.9);
  width: calc(100% - 1em);
  height: 200px;
  overflow: auto; 
  box-sizing: border-box;
  border-radius: 10px;
}

.info--icon{
  height: 20px;
  display: block;
  margin-left: 5px;
  position: relative;
}

.info--icon:hover + .tooltip {
  display: block;
  z-index: 1; 
}

.info--icon:hover + .tooltip-node {
  display: block;
  z-index: 1; 
}

.help-display {
  display: flex;
}

.graph-type{
  display: flex;
  padding-bottom: 10px;
  overflow: hidden;
}

.graph-type input[type="radio"]:disabled + label {
  color: #999; 
}

.node-help {
  display: flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
}

.nav--documentation {
  margin: 1em;
}

.h2 {
  margin: 0;
}

.tooltip-node {
  display: none;
  position: absolute;
  background-color: #747679;
  color: #fff; 
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  top: -1px; /* Adjust the distance above the icon */
  left: 190px; /* Adjust the distance to the right of the icon */
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #747679;
  color: #fff; 
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.menu {
  background-color: #F4F7FC;
  padding: 10px 10px;
  width: 25%;
  min-width: 240px;
  height: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.fade-in {
  animation: fadeInAnimation 5s ease-in forwards;
  opacity: 0; /* Set initial opacity to 0 */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start from fully transparent */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
